Flask
MarkupSafe
multidict
numpy
openai
opencv-python
openpyxl
pandas
pillow
pillow_heif
pypinyin
python-dotenv
webdriver_manager==4.0.1
selenium==4.23.0
requests
Werkzeug
msal
gunicorn
opencv-python-headless

