Flask
MarkupSafe
multidict
numpy
openai==0.28.0
opencv-python
openpyxl
pandas
pillow
pillow_heif
pypinyin
python-dotenv
webdriver_manager
selenium
requests
Werkzeug
msal
gunicorn
opencv-python-headless

