/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f1f1f1;
    color: black;
    height: 5.5em;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: -0.4em auto;
}

.logo {
    width: 220px;
    height: auto;
    padding: 5px 0;
    transition: all 0.5s ease 0s;
    float: left;
    cursor: pointer;
    margin-left: 50px;
}

.content {
    max-width: 600px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content h2 {
    color: #209675;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
    color: #191818;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    font-size: 18px;
}

input[type="file"],
input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.button {
    width: 100%;
    padding: 12px;
    background-color: #209675;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #137b87;
}

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.uploaded-data {
    margin-top: 20px;
    padding: 20px;
    background-color: #e8f5e9;
    border: 1px solid #c8e6c9;
    border-radius: 8px;
}

.uploaded-data h3 {
    color: #2e7d32;
    margin-top: 0;
}

.uploaded-data p {
    margin: 5px 0;
    font-size: 16px;
}

.uploaded-data p strong {
    color: #191818;
}

.linkcolor {
    color: black;
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 90%;
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    .content {
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        font-size: 16px;
    }

    input[type="file"],
    input[type="text"],
    textarea,
    .button {
        padding: 8px;
        font-size: 14px;
    }

    .button {
        padding: 10px;
        font-size: 16px;
    }
}

.required-field::before {
    content: '*';
    color: red;
}