/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #f1f1f1;
    color: black;
    height: 5.5em;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.logo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: -0.4em auto;
}

.logo {
    width: 220px;
    height: auto;
    padding: 5px 0;
    transition: all 0.5s ease 0s;
    float: left;
    cursor: pointer;
    margin-left: 50px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #209675;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #555;
}

textarea {
    /*width: calc(100% - 22px);*/
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: vertical;
}

small {
    font-size: 13px;
    color: #548870;
    font-weight: bold;
    margin-bottom: 8px;
}

.input-bg {
    background-color: #4b938c1f;
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
}

input[type="submit"] {
    background-color: #209675;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #137b87;
}

.flash {
    padding: 10px;
    margin-bottom: 15px;
    background-color: #960a00;
    color: white;
    border-radius: 4px;
}

.rightcolumn {
    text-align: right;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.rightcolumn p {
    display: inline-block;
    margin-right: 10px;
}

.rightcolumn form {
    display: inline-block;
}

.rightcolumn input[type="submit"] {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #d8e9e5;
    color: black;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
}

.rightcolumn input[type="submit"]:hover {
    background-color: #38747b;
    color: white;
}

.page-wrapper {
    position: relative;
}

.required-field::before {
    content: '*';
    color: red;
}

@media screen and (max-width: 768px) {
    .page-wrapper {
        padding-top: 0;
    }

    .header {
        position: static;
    }

    .rightcolumn {
        position: static;
        margin-bottom: 20px;
    }

    h2 {
        margin-top: 0;
    }

    .container {
        margin-top: 0;
        max-width: 90%;
        margin: 10px auto;
        padding: 20px;
    }

    .logo {
        float: none;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="password"],
    textarea,
    select,
    input[type="submit"],
    input[type="file"] {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h2 {
        font-size: 22px;
    }

    label,
    input,
    textarea,
    select {
        font-size: 14px;
    }

    .rightcolumn {
        font-size: 12px;
    }

    .rightcolumn input[type="submit"] {
        font-size: 12px;
        padding: 3px 8px;
        width: auto;
    }
}