<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>
    <link rel="stylesheet" href="../static/menu.css">
    <link rel="stylesheet" href="../static/content.css">
    <style>
        .version {
            position: fixed;
            left: 10px;
            bottom: 10px;
            font-size: 12px;
            color: #888;
        }
    </style>
</head>

<body>
    <a class="toggle-nav" href="#" onclick="toggleMenu(event)">&#9776;</a>

    <nav class="menu">
        <ul>
            <li class="current-item"><a href="#">Single (Confirmed)</a></li>
            <li><a href="/multiupload">Multiple (Unconfirmed)</a></li>
            <li><a href="https://www.ragic.com/" target="_blank">Ragic</a></li>
            <li><a href="/login">Send Email</a></li>
            <li><a href="https://chingshow.github.io/blogs/" target="_blank">Blog</a></li>
            <li><a href="https://www.cancerfree.io/zh-tw/index" target="_blank">CancerFree</a></li>
            <li><a href="https://www.facebook.com/CancerFreeBiotech/" target="_blank">Facebook</a></li>
            <li><a href="https://www.linkedin.com/company/cancerfree-biotech/?originalSubdomain=tw"
                    target="_blank">Linkedin</a></li>
            <li><a href="https://www.youtube.com/channel/UCqvEm2rawS8cMXA1PVIn2Bg" target="_blank">Youtube</a></li>
        </ul>
    </nav>

    <div class="header">
        <div class="logo">
            <img src="static/logo.svg" alt="CancerFree Biotech">
        </div>
    </div>

    <div class="content">
        <h2>Upload a Business Card for CRM System</h2>
        <div id="upload-section">
            <div class="form-group">
                <label for="file">Select Image:</label>
                <input type="file" id="file" name="file"><br>
            </div>
            <div class="span8">
                <label>Language:</label>
                <select id="ocrLanguage" name="ocrLanguage" class="form-control valid selection">
                    <option value="chs">Chinese (Simplified)</option>
                    <option value="cht" selected="selected">Chinese (Traditional)</option>
                    <option value="eng">English</option>
                    <option value="jpn">Japanese</option>
                </select>
                <small class="warning">Please prioritize the recognition of non-Japanese business cards.</small>
            </div><br>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="4"
                    placeholder="Enter description"></textarea><br><br>
            </div>
            <input type="button" value="Upload" class="button" onclick="uploadFile()">
        </div>

        <div id="loading" style="display: none;">uploading...</div>

        <div id="duplicate-section" style="display: none;">
            <h3>Duplicate Entries Found</h3>
            <div id="duplicate-entries"></div>
        </div>

        <div id="result" class="uploaded-data" style="display: none;">
            <h3>Uploaded Data:</h3>
            <div id="filename-display"></div>
            <form id="confirm-form">
                <div class="form-group">
                    <label for="name" class="required-field">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="company">Company:</label>
                    <input type="text" id="company" name="company">
                </div>
                <div class="form-group">
                    <label for="department1">Department 1:</label>
                    <input type="text" id="department1" name="department1">
                </div>
                <div class="form-group">
                    <label for="department2">Department 2:</label>
                    <input type="text" id="department2" name="department2">
                </div>
                <div class="form-group">
                    <label for="title1">Title 1:</label>
                    <input type="text" id="title1" name="title1">
                </div>
                <div class="form-group">
                    <label for="title2">Title 2:</label>
                    <input type="text" id="title2" name="title2">
                </div>
                <div class="form-group">
                    <label for="title3">Title 3:</label>
                    <input type="text" id="title3" name="title3">
                </div>
                <div class="form-group">
                    <label for="email1">Email 1:</label>
                    <input type="text" id="email1" name="email1">
                </div>
                <div class="form-group">
                    <label for="email2">Email 2:</label>
                    <input type="text" id="email2" name="email2">
                </div>
                <div class="form-group">
                    <label for="mobile1">Mobile 1:</label>
                    <input type="text" id="mobile1" name="mobile1">
                </div>
                <div class="form-group">
                    <label for="mobile2">Mobile 2:</label>
                    <input type="text" id="mobile2" name="mobile2">
                </div>
                <div class="form-group">
                    <label for="tel1">Tel 1:</label>
                    <input type="text" id="tel1" name="tel1">
                </div>
                <div class="form-group">
                    <label for="tel2">Tel 2:</label>
                    <input type="text" id="tel2" name="tel2">
                </div>
                <div class="form-group">
                    <label for="fax1">Fax 1:</label>
                    <input type="text" id="fax1" name="fax1">
                </div>
                <div class="form-group">
                    <label for="fax2">Fax 2:</label>
                    <input type="text" id="fax2" name="fax2">
                </div>
                <div class="form-group">
                    <label for="address1">Address 1:</label>
                    <input type="text" id="address1" name="address1">
                </div>
                <div class="form-group">
                    <label for="address2">Address 2:</label>
                    <input type="text" id="address2" name="address2">
                </div>
                <div class="form-group">
                    <label for="website">Website:</label>
                    <input type="text" id="website" name="website">
                </div>
                <div class="form-group">
                    <label for="confirm-description">Description:</label>
                    <textarea id="confirm-description" name="description" rows="4"></textarea>
                </div>
                <input type="button" value="Confirm" class="button" onclick="confirmData()">
            </form>
        </div>

        <div class="version">v.2</div>

        <script>
            function toggleMenu(event) {
                event.preventDefault();
                document.querySelector('.menu').classList.toggle('active');
                document.querySelector('.toggle-nav').classList.toggle('active');
            }

            async function uploadFile() {
                const loadingIndicator = document.getElementById('loading');
                loadingIndicator.style.display = 'block';  // 顯示加載指示器

                const fileInput = document.getElementById('file');
                const descriptionInput = document.getElementById('description');
                const formData = new FormData();
                formData.append('file', fileInput.files[0]);
                formData.append('description', descriptionInput.value);

                try {
                    const response = await fetch('/upload', {
                        method: 'POST',
                        body: formData
                    });
                    const result = await response.json();

                    if (result.success) {
                        // 填充表單字段
                        document.getElementById('name').value = result.data.name || '';
                        document.getElementById('company').value = result.data.company || '';
                        document.getElementById('department1').value = result.data.department1 || '';
                        document.getElementById('department2').value = result.data.department2 || '';
                        document.getElementById('title1').value = result.data.title1 || '';
                        document.getElementById('title2').value = result.data.title2 || '';
                        document.getElementById('title3').value = result.data.title3 || '';
                        document.getElementById('email1').value = result.data.email1 || '';
                        document.getElementById('email2').value = result.data.email2 || '';
                        document.getElementById('mobile1').value = result.data.mobile1 || '';
                        document.getElementById('mobile2').value = result.data.mobile2 || '';
                        document.getElementById('tel1').value = result.data.tel1 || '';
                        document.getElementById('tel2').value = result.data.tel2 || '';
                        document.getElementById('fax1').value = result.data.fax1 || '';
                        document.getElementById('fax2').value = result.data.fax2 || '';
                        document.getElementById('address1').value = result.data.address1 || '';
                        document.getElementById('address2').value = result.data.address2 || '';
                        document.getElementById('website').value = result.data.website || '';
                        document.getElementById('confirm-description').value = result.data.description || '';

                        // 顯示文件名
                        document.getElementById('filename-display').innerHTML = `<p><strong>Filename:</strong> ${result.data.filename}</p>`;

                        // 檢查重複項
                        if (result.data.duplicate && result.data.duplicate.length > 0) {
                            const duplicateHtml = result.data.duplicate.map(entry => `
                    <div>
                        <p class="duplicated-item">
                            <a href="https://ap12.ragic.com/cancerfree/forms5/4/${entry.ID}" target="_blank">Name: ${entry.Name},   Company: ${entry.Company},   Title: ${entry.Title}</a>
                        </p>
                    </div>
                `).join('');
                            document.getElementById('duplicate-entries').innerHTML = duplicateHtml;
                            document.getElementById('duplicate-section').style.display = 'block';
                            document.getElementById('upload-section').style.display = 'none';
                        }
                        else {
                            document.getElementById('duplicate-section').style.display = 'none';
                        }
                        document.getElementById('result').style.display = 'block';
                    } else {
                        alert('Error: ' + result.error);
                    }
                } catch (error) {
                    console.error('Error uploading file:', error);
                    alert('Error uploading file.');
                } finally {
                    loadingIndicator.style.display = 'none';  // 隱藏加載指示器
                }
            }

            async function confirmData() {
                const loadingIndicator = document.getElementById('loading');
                loadingIndicator.style.display = 'block';  // 顯示加載指示器

                const form = document.getElementById('confirm-form');
                const formData = new FormData(form);

                // 檢查 'name' 字段是否已填寫
                const name = formData.get('name');
                if (!name) {
                    alert('Please fill in the required field: Name');
                    loadingIndicator.style.display = 'none';  // 隱藏加載指示器
                    return;
                }

                try {
                    const response = await fetch('/confirm', {
                        method: 'POST',
                        body: formData
                    });
                    const result = await response.json();

                    if (result.success) {
                        alert('Data confirmed successfully!');
                        window.location.reload();
                    } else {
                        alert('Error: ' + result.error);
                    }
                } catch (error) {
                    console.error('Error confirming data:', error);
                    alert('Error confirming data.');
                } finally {
                    loadingIndicator.style.display = 'none';  // 隱藏加載指示器
                }
            }
        </script>
    </div>
</body>

</html>