<nav class="menu">
    <ul>
        <li><a href="#">Single (Confirmed)</a></li>
        <li><a href="/multiupload">Multiple (Unconfirmed)</a></li>
        <li><a href="https://www.ragic.com/" target="_blank">Ragic</a></li>
        <li><a href="/login">Send Email</a></li>
        <li>
            <a href="#linkedin-search" onclick="showLinkedinForm()">Linkedin Search</a>
            <div id="linkedin-form" style="display: none;">
                <form id="linkedin-credentials-form">
                    <input type="text" id="linkedin-username" placeholder="LinkedIn Username" required>
                    <input type="password" id="linkedin-password" placeholder="LinkedIn Password" required>
                    <button type="submit">Submit</button>
                </form>
                <div id="linkedin-search-status"></div>
            </div>
        </li>
        <li>
            <a href="#google-search" onclick="showGoogleForm()">Google Search</a>
            <div id="google-form" style="display: none;">
                <form id="google-search-form">
                    <button type="submit">Start</button>
                </form>
                <div id="google-search-status"></div>
            </div>
        </li>
        <!--
        <li><a href="https://chingshow.github.io/blogs/" target="_blank">Blog</a></li>
        <li><a href="https://www.cancerfree.io/zh-tw/index" target="_blank">CancerFree</a></li>
        <li><a href="https://www.facebook.com/CancerFreeBiotech/" target="_blank">Facebook</a></li>
        <li><a href="https://www.linkedin.com/company/cancerfree-biotech/?originalSubdomain=tw"
                target="_blank">Linkedin</a></li>
        <li><a href="https://www.youtube.com/channel/UCqvEm2rawS8cMXA1PVIn2Bg" target="_blank">Youtube</a></li>
        -->
    </ul>
</nav>