<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Emails</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/menu.css">
    <style>
        .version {
            position: fixed;
            left: 10px;
            bottom: 10px;
            font-size: 12px;
            color: #888;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <div class="header">
            <div class="logo">
                <img src="static/logo.svg" alt="CancerFree Biotech">
            </div>
        </div>

        <a class="toggle-nav" href="#" onclick="toggleMenu(event)">&#9776;</a>

        <nav class="menu">
            <ul>
                <li><a href="/">Single (Confirmed)</a></li>
                <li><a href="/multiupload">Multiple (Unconfirmed)</a></li>
                <li><a href="https://www.ragic.com/" target="_blank">Ragic</a></li>
                <li class="current-item"><a href="/login">Send Email</a></li>
                <li><a href="https://chingshow.github.io/blogs/" target="_blank">Blog</a></li>
                <li><a href="https://www.cancerfree.io/zh-tw/index" target="_blank">CancerFree</a></li>
                <li><a href="https://www.facebook.com/CancerFreeBiotech/" target="_blank">Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/cancerfree-biotech/?originalSubdomain=tw"
                        target="_blank">Linkedin</a></li>
                <li><a href="https://www.youtube.com/channel/UCqvEm2rawS8cMXA1PVIn2Bg" target="_blank">Youtube</a></li>

            </ul>
        </nav>

        <div class="rightcolumn">
            <p>{{ email }}</p>
            <form id="logoutForm" action="{{ url_for('logout') }}" method="get">
                <input type="submit" value="Logout">
            </form>
        </div>

        <div class="container">
            <h2>Send Emails</h2>

            <form method="POST" action="{{ url_for('send_email') }}" enctype="multipart/form-data" style="width: 100%;">
                <label class="required-field">Select recipient group:</label>
                <select name="recipient_group" required>
                    <option value="" selected disabled hidden>請選擇</option>
                    {% for tag in taglist %}
                    <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select><br><br>

                <label class="required-field">Enter email subject:</label>
                <input type="text" name="email_subject" required><br>

                <label class="required-field">Enter email content:</label>
                <small>使用 {name} 標籤可添加對應姓名</small>
                <textarea name="email_content" rows="10" cols="40" required></textarea><br>

                <label>Attach a file:</label>
                <input type="file" name="attachments" multiple><br>

                <input type="submit" value="Send">
            </form>
        </div>
    </div>

    <div class="version">v.3</div>

    <!-- JavaScript for showing alert -->
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get('status');

        if (status === 'sent') {
            alert('Emails sent successfully!');
        } else if (status === 'error') {
            alert('Failed to send emails. Please try again.');
        }

        document.getElementById('logoutForm').addEventListener('submit', function (event) {
            alert('Logout ><')
        });

        function toggleMenu(event) {
            event.preventDefault();
            document.querySelector('.menu').classList.toggle('active');
            document.querySelector('.toggle-nav').classList.toggle('active');
        }
    </script>
</body>

</html>