<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Emails</title>
    <script src="{{ url_for('static', filename='menu.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        document.getElementById('logoutForm').addEventListener('submit', function (event) {
            alert('Logout ><')
        });
    </script>
    <link rel="stylesheet" href="../static/menu.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <style>
        .version {
            position: fixed;
            left: 10px;
            bottom: 10px;
            font-size: 12px;
            color: #888;
        }

        .recipient-type-selection {
            margin-bottom: 15px;
        }

        .button-group {
            display: flex;
            gap: 10px;
        }

        .button-group button {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f8f8f8;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .button-group button.active {
            background-color: #209675;
            color: white;
        }

        .recipient-list {
            max-height: 300px;
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 10px;
        }

        .recipient-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 0;
        }

        .remove-recipient {
            cursor: pointer;
            color: rgb(159, 7, 7);
        }
    </style>
</head>

<body>
    <a class="toggle-nav" href="#" onclick="toggleMenu(event)">&#9776;</a>
    {% include 'menu.html' %}

    <div class="page-wrapper">
        <div class="header">
            <div class="logo">
                <img src="static/logo.svg" alt="CancerFree Biotech">
            </div>
        </div>

        <div class="rightcolumn">
            <p>{{ email }}</p>
            <form id="logoutForm" action="{{ url_for('logout') }}" method="get">
                <input type="submit" value="Logout">
            </form>
        </div>

        <div class="container">
            <h2>Send Emails</h2>

            <form method="POST" action="{{ url_for('send_email') }}" enctype="multipart/form-data" style="width: 100%;">
                <div>
                    <label for="from_email">From (optional):</label>
                    <input type="text" id="from_email" name="from_email" class="input-bg">
                </div>

                <div>
                    <label for="reply_to">Reply-To (optional):</label>
                    <input type="text" id="reply_to" name="reply_to" class="input-bg">
                </div><br>

                <div class="recipient-type-selection">
                    <label class="required-field">Select recipient type:</label>
                    <div class="button-group">
                        <button type="button" id="groupButton" onclick="selectRecipientType('group')"
                            class="active">Group</button>
                        <button type="button" id="individualButton"
                            onclick="selectRecipientType('individual')">Individual</button>
                    </div>
                    <input type="hidden" id="recipient_type" name="recipient_type" required>
                </div>

                <div id="group_selection" style="display: none;">
                    <label for="recipient_group">Select recipient group:</label>
                    <select id="recipient_group" name="recipient_group" style="width: 100%;">
                        <option value="">Please select</option>
                        {% for tag in taglist %}
                        <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div id="individual_selection" style="display: none;">
                    <label for="individual_select">Select individual:</label>
                    <select id="individual_select" name="selected_individual" style="width: 100%;">
                        <option value="">Please select</option>
                    </select>
                </div>

                <div id="recipient_list" class="recipient-list" style="display: none;"></div>

                <br><label class="required-field">Email subject:</label>
                <input type="text" name="email_subject" required><br>

                <label class="required-field">Email body:</label>
                <small>Use the {name} tag to add a corresponding name.
                    <br>You can also use {company}, {title1}, {title2}, {title3}, {department1}, {department2} tags.
                </small>

                <button type="button" onclick="addHyperlink()">Insert hyperlink</button><br>

                <textarea id="emailContent" name="email_content" rows="10" cols="40" required></textarea><br>

                <label>Attach files: (Less than 10M)</label>
                <input type="file" name="attachments" multiple><br>

                <input type="hidden" id="selected_recipients" name="selected_recipients">

                <input type="submit" value="Send">
            </form>
        </div>
    </div>

    <div class="version">v.6</div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get('status');

        if (status === 'sent') {
            alert('Emails sent successfully!');
        } else if (status === 'error') {
            alert('Failed to send emails. Please try again.');
        }

        function addHyperlink() {
            const emailContent = document.getElementById('emailContent');
            emailContent.value += '<a href="網址">顯示名稱</a>';
        }

        function selectRecipientType(type) {
            const groupSelection = document.getElementById('group_selection');
            const individualSelection = document.getElementById('individual_selection');
            const recipientTypeInput = document.getElementById('recipient_type');
            const groupSelect = document.getElementById('recipient_group');
            const recipientList = document.getElementById('recipient_list');

            recipientTypeInput.value = type;

            if (type === 'group') {
                groupSelection.style.display = 'block';
                individualSelection.style.display = 'none';
                groupSelect.required = true;
                recipientList.style.display = 'block';
            } else if (type === 'individual') {
                groupSelection.style.display = 'none';
                individualSelection.style.display = 'block';
                groupSelect.required = false;
                groupSelect.value = '';
                recipientList.innerHTML = '';
                recipientList.style.display = 'none';
                loadIndividualList();
            }
        }

        function loadIndividualList() {
            fetch('/get_individual_list')
                .then(response => response.json())
                .then(data => {
                    const select = $('#individual_select');
                    select.empty().append('<option value="">Please select</option>');
                    data.forEach(item => {
                        select.append(new Option(`${item.name} (${item.email})`, item.id));
                    });
                    select.trigger('change');
                });
        }

        $(document).ready(function () {
            $('#individual_select').select2({
                placeholder: 'Search by name or email',
                allowClear: true
            });

            // 頁面載入時預設選擇Group
            selectRecipientType('group');
        });

        document.addEventListener('DOMContentLoaded', function () {
            var buttons = document.querySelectorAll('.button-group button');
            var groupSelection = document.getElementById('group_selection');
            var individualSelection = document.getElementById('individual_selection');

            buttons.forEach(function (button) {
                button.addEventListener('click', function () {
                    buttons.forEach(function (btn) {
                        btn.classList.remove('active');
                    });
                    this.classList.add('active');

                    if (this.textContent.trim() === 'Group') {
                        groupSelection.style.display = 'block';
                        individualSelection.style.display = 'none';
                    } else if (this.textContent.trim() === 'Individual') {
                        groupSelection.style.display = 'none';
                        individualSelection.style.display = 'block';
                    }
                });
            });
        });

        $(document).ready(function () {
            $('#recipient_group').change(function () {
                var selectedTag = $(this).val();
                if (selectedTag) {
                    $.ajax({
                        url: '/get_recipients_by_tag',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ tag: selectedTag }),
                        success: function (response) {
                            displayRecipientList(response);
                        },
                        error: function (error) {
                            console.error('Error fetching recipients:', error);
                        }
                    });
                } else {
                    $('#recipient_list').hide();
                }
            });

            function displayRecipientList(recipients) {
                var listHtml = '';
                recipients.forEach(function (recipient) {
                    listHtml += '<div class="recipient-item" data-id="' + recipient.id + '" ' +
                        'data-company="' + recipient.company + '" ' +
                        'data-title1="' + recipient.title1 + '" ' +
                        'data-title2="' + recipient.title2 + '" ' +
                        'data-title3="' + recipient.title3 + '" ' +
                        'data-department1="' + recipient.department1 + '" ' +
                        'data-department2="' + recipient.department2 + '" ' +
                        'data-emailtitle="' + recipient.emailtitle + '">' +
                        '<span>' + recipient.name + ' (' + recipient.email + ')</span>' +
                        '<span class="remove-recipient">✖</span>' +
                        '</div>';
                });
                $('#recipient_list').html(listHtml).show();
            }

            // 更新選中的收件人列表
            function updateSelectedRecipients() {
                var selectedRecipients = [];
                $('#recipient_list .recipient-item').each(function () {
                    var id = $(this).data('id');
                    var name = $(this).find('span:first').text().split('(')[0].trim();
                    var email = $(this).find('span:first').text().match(/\((.*?)\)/)[1];
                    var company = $(this).data('company');
                    var title1 = $(this).data('title1');
                    var title2 = $(this).data('title2');
                    var title3 = $(this).data('title3');
                    var department1 = $(this).data('department1');
                    var department2 = $(this).data('department2');
                    var emailtitle = $(this).data('emailtitle');
                    selectedRecipients.push({
                        id: id,
                        name: name,
                        email: email,
                        company: company,
                        title1: title1,
                        title2: title2,
                        title3: title3,
                        department1: department1,
                        department2: department2,
                        emailtitle: emailtitle
                    });
                });
                $('#selected_recipients').val(JSON.stringify(selectedRecipients)); // 更新收件人列表
            }

            // 在移除收件人時更新收件人列表
            $(document).on('click', '.remove-recipient', function () {
                $(this).parent().remove();
                updateSelectedRecipients(); // 移除收件人後更新列表
            });

            // 提交表單前更新收件人列表
            $('#emailForm').submit(function (e) {
                updateSelectedRecipients(); // 修改點：表單提交前更新收件人列表
            });
        });
    </script>
</body>

</html>